.alert-section{
    position: fixed;
    top: 10%;
    transform: translateY(-10%);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.alert-section .alert-custom{
    padding: 1rem .8rem;
    border-radius: 1em;
    display: flex;
    gap: 1rem;
    align-items: center;
}

